<body>


	<div class = "button" align="center">
		<a href="/login"> <img src="https://cdn4.iconfinder.com/data/icons/basic-ui-elements/700/09_home-512.png" width="50" height="50" /></a>

		<a href="/feed"> <img src="http://nationalevents.cityofhope.org/images/content/pagebuilder/instagram.png" width="50" height="50" /></a>
			
		<a href="/auth/facebook"> <img src="http://nationalevents.cityofhope.org/images/content/pagebuilder/facebook-icon.png" width="50" height="50" /></a>
		
	</div>


		<h1 id = "title"><center>Feed</center></h1>

	{{#each feed}}
		<div class="feed" id="photos">
			<center> <img src="{{url}}" class="img-responsive" class="img hashtag-img"><br>
			  <div id="caption">
			  	<p>{{caption}}</p></center>
			  </div>
			  
		 </div>
	{{/each}}


</body>
